<div class="hero-unit" style="background-image:url('/assets/screenshot1.png');background-repeat:no-repeat; background-size:100%">
  <div class="shadow" style="display: inline-block; padding: 20px; padding-bottom: 0px; border-radius: 16px; background-color: #f5fafd;">
    <h1>From zero to coding hero</h1>
    <p>Become a good, junior Ruby on Rails developer in our six week, onsite program!</p>
    <div>
      <div style="text-align:center; float: left; padding: 30px;">
        <a href="<%= details_path %>" class="btn btn-primary btn-large" style="margin-left: 20px; margin-top:60px;">Details this way &raquo;</a>
      </div>
      <div style="text-align: center; float: left; padding: 30px;">
        <span class="label label-info">Before</span>
        <br />
        <img src="<%= image_path('planet_cute/Character Boy.png') %>" style="margin-top: -40px" />
        <br />
        "can has codez?"
      </div>
      <div style="text-align: center; float: left; padding: 30px;">
        <span class="label label-info">After</span>
        <br />
        <img src="<%= image_path('planet_cute/Character Horn Girl.png') %>" style="margin-top: -40px" />
        <br />
        "check out my prototype!"
      </div>
    </div>
  </div>
</div>
<p class="alert">We're only accepting applications until October 5th, so apply soon! Space is limited, but we will consider every application.</p>
<div class="row">
  <div class="span4">
    <h2>Community</h2>
    <p>Learning and working with your peers is a great way to gain new skills. At codeStreak, the student community is progressing through the same set of challenges together, and everyone is there to support each other. It's been proven time and time again that peer learning is extremely effective, and it's fantastic motivation to be in a collaborative enviroment.</p>
    <p><a class="btn" href="<%= details_path %>">Learn more »</a></p>
  </div>
  <div class="span4">
    <h2>Mentoring</h2>
    <p>Our team has fantastic, friendly developers, and you'll love learning and working with us. In addition to traditional instruction, we'll be sitting down with you and helping you step through development challenges. We've built systems for billions of users, and we're looking forward to sharing our knowledge with you!</p>
    <p><a class="btn" href="<%= team_path %>">Meet the team »</a></p>
  </div>
  <div class="span4">
    <h2>Opportunity</h2>
    <p>Ruby on Rails is a hot framework, and developers with that skill are in high demand. The average salary for a RoR dev in SF is <a href="http://www.indeed.com/salary/q-Ruby-On-Rails-Developer-l-San-Francisco,-CA.html" target="_blank">over $100k</a>, according to indeed&#0153;. Our program will prepare you with everything you need to get a job, and at our demo day, you'll impress potential employers with the project you're been working on for the past few weeks!</p>
    <p><a class="btn" href="<%= apply_path %>">Apply now »</a></p>
  </div>
</div>

