<h3>Meet the team!</h3>

<div class="row">
  <img src="<%= image_path('team/justin.jpg') %> " class="span2" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Justin Pincar</h4>
    <div>
      It was Justin's dream to be a teacher - a dream his parents shattered when he was about nine. Instead, they convinced him to pursue his natural skill with computers and to become a software developer. After building out many, many, web apps for companies large and small, Justin is thrilled to share his experience and knowledge at devStreak!
      <br /><a href="http://www.linkedin.com/profile/view?id=38710032" target="_blank">View Justin's LinkedIn</a>
    </div>
  </div>

  <img src="<%= image_path('team/kevin.png') %> " class="span2 offset1" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Kevin Meehan</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>
</div>
<br />

<div class="row">
  <img src="<%= image_path('team/mike.jpg') %> " class="span2" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Mike Sample</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>

  <img src="<%= image_path('team/chris.jpg') %> " class="span2 offset1" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Chris Kung</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>
</div>
<br />
<p class="well">
Already looked at the <a href="<%= details_path %>">details page</a> and still wondering something? <a href="<%= contact_path %>" class="btn btn-primary" style="margin-left: 6px">Check out the FAQ!</a>
</p>

