<h3>Meet the team!</h3>

<div class="row">
  <img src="<%= image_path('team/justin.jpg') %> " class="span2" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Justin Pincar</h4>
    <div>
      It was Justin's dream to be a teacher - a dream his parents shattered when he was nine. Instead, they convinced him to pursue his natural skill with computers and to become a software developer. After building out many, many, web apps for companies large and small, Justin is thrilled to share his experience and knowledge at codeStreak!
      <br /><a href="http://www.linkedin.com/profile/view?id=38710032" target="_blank">View Justin's LinkedIn</a>
    </div>
  </div>

  <img src="<%= image_path('team/kevin.jpg') %> " class="span2 offset1" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Kevin Meehan</h4>
    <div>
      Kevin came to the Bay Area after spending a couple years writing software for the government in Washington, D.C. He was attracted by San Francisco's gung-ho startup culture, and has only fallen more in love with it since the move. He is an avid runner who enjoys inquisitively reading books, volunteering for SFCASA, and sipping black coffee.
      <br /><a href="http://www.linkedin.com/profile/view?id=31073425" target="_blank">View Kevin's LinkedIn</a>
    </div>
  </div>
</div>
<br />

<div class="row">
  <img src="<%= image_path('team/mike.jpg') %> " class="span2" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Mike Sample</h4>
    <div>
      Mike sauntered through many walks of life (for instance, running his own coffee shop, hustling on Wall Street, and working as a gas station attendant) before settling into the field that's most important to him: education. With an anecdote for any situation, Mike is one of the world's best storytellers, tying his fantastic experiences to the present.
      <br /><a href="http://www.linkedin.com/profile/view?id=4835152" target="_blank">View Mike's LinkedIn</a>
    </div>
  </div>

  <img src="<%= image_path('team/chris.jpg') %> " class="span2 offset1" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Chris Kung</h4>
    <div>
      As a Silicon Valley native, it's not surprising that Chris started out by building websites for his dad's company. The exposure provided a natural transition to enter the software industry, where he worked on web/mobile apps with a data analytics focus. Chris is excited for the opportunity to mentor while also pursuing his own ventures.
      <br /><a href="http://www.linkedin.com/profile/view?id=6891911" target="_blank">View Chris's LinkedIn</a>
    </div>
  </div>
</div>
<br />
<p class="well">
Already looked at the <a href="<%= details_path %>">details page</a> and still wondering something? <a href="<%= contact_path %>" class="btn btn-primary" style="margin-left: 6px">Check out the FAQ!</a>
</p>

