<!DOCTYPE html>
<html>
  <head>
    <title>codeStreak</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="description" content="Learn to code Ruby on Rails applications within weeks in downtown San Francisco with codeStreak"/>
    <meta name="keywords" content="learn, program, tutorial, code, ruby, rails, san francisco, sf, full time, ror, developer, job" />
    <meta property="og:title" content="codeStreak: Learn to code in SF in 6 weeks!" />
    <meta property="og:url" content="http://www.codestreak.com" />
    <meta property="og:image" content="<%=request.protocol + request.host_with_port + image_path('home/ruby_on_rails.png')%>" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34869045-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
     <script type="text/javascript" src="//use.typekit.net/lpk4dad.js"></script>
     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= body_class %>">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="<%= root_path %>">
            <img src="<%= image_path('sidespin-logo.png') %>" /> codeStreak
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li <%= 'class="active"'.html_safe if body_class.include?("index") %>><a href="<%= root_path %>">Home</a></li>
              <li <%= 'class="active"'.html_safe if body_class.include?("details") %>><a href="<%= details_path %>">Details</a></li>
              <li <%= 'class="active"'.html_safe if body_class.include?("team") %>><a href="<%= team_path %>">Team</a></li>
              <li <%= 'class="active"'.html_safe if body_class.include?("contact") %>><a href="<%= contact_path %>">Contact + FAQ</a></li>
            </ul>
            <a href="<%= apply_path %>" class="btn btn-primary pull-right">Apply Now!</a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <hr>
      <footer>
      <p>&copy; Tigerlily Labs, Inc. 2012 | <a href="<%= participate_path %>">Participate</a> | <a href="mailto:contact@codestreak.com?subject=Hey%20there%2C%20I%20was%20wondering%20about..." target="_blank">contact@codestreak.com</a></p>
      </footer>
    </div> <!-- /container -->
    <div id="sharrre" data-url="http://www.codeStreak.com" data-title="share"></div>
    <script>
      $('#sharrre').sharrre({
        share: {
          googlePlus: true,
          facebook: true,
          twitter: true
        },
        buttons: {
          googlePlus: {size: 'tall'},
          facebook: {layout: 'box_count'},
          twitter: {count: 'vertical'}
        },
        hover: function(api, options){
          $(api.element).find('.buttons').show();
        },
        hide: function(api, options){
          $(api.element).find('.buttons').hide();
        },
        enableTracking: true
      });
    </script>
    <style>
      #sharrre {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 300px;
      }
      .sharrre .box{
        float:left;
      }
      .sharrre .count {
        color:#444444;
        display:block;
        font-size:17px;
        line-height:34px;
        height:34px;
        padding:4px 0;
        position:relative;
        text-align:center;
        text-decoration:none;
        width:50px;
        background-color:#eee;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
      }
      .sharrre .share {
        color:#FFFFFF;
        display:block;
        font-size:11px;
        height:16px;
        line-height:16px;
        margin-top:3px;
        padding:0;
        text-align:center;
        text-decoration:none;
        width:50px;
        background-color:#9CCE39;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
      }
      .sharrre .buttons {
        display:none;
        position:absolute;
        margin-left:50px;
        z-index:10;
      }
      .sharrre .button {
        float:left;
        max-width:50px;
        margin-left:10px;
      }
    </style>
  </body>
</html>

